{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}
<style>
    .mydiv:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px)
    }
    body{
          margin:0;
          padding:0;
background:url("https://th.bing.com/th/id/OIP.ZDdNNd_qk6bYfPuxIzSJrwHaE0?w=288&h=187&c=7&r=0&o=5&dpr=1.25&pid=1.7");
          background-size: cover;
          font-family: sans-serif;
          background-color:hsl(183, 3%, 69%);
           }
</style>

<hr>
<br>
<br>
<br>
<!--<marquee style ="background-color : #F0F8FF;font-size:35px;color:grey"> .</marquee>-->
<br>
<div class="container mt-5">
    <br><br>
    <div class="row mt-5">
        <div class="col-sm-6 mydiv" style="padding-left:600px">
            <h1 class="text-center"><i class="fa fa-user"></i>Total Recruiters</h1>
            <p class="text-center"><h1>{{rcount}}</h1></p>

        </div>
    </div>
<br>
    <div class="row mt-6">
        <div class="col-sm-3 mydiv" style="padding-left:600px">
            <h1 class="text-center"><i class="fa fa-user"></i>Total Users</h1>
            <p class="text-center"><h1>{{scount}}</h1></p>

        </div>
    </div>
<br>


{% endblock %}