{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<form class ="container mt-5" method = "post" style="margin:50px">
    {% csrf_token %}
    <p> Recruiter Name</p>
    <input type="text" name="uname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">
    <p> Status</p>
    <select class=""form-control name="status"><br>
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select><hr>
    <input type="submit" value="Update">
    <!--                <a href="#about">Lost your password?</a><br>-->
<!--    <a href="{% url 'user_signup' %}">Don't have an account? Sign up here</a>-->
</form>
</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ajax-utils.js"></script>
<script src="js/script.js"></script>
</body>

{% if error == "no" %}
<script>
    alert("Status changed successfully");
    window.location = ('{% url 'recruiter_pending' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong.Try again");
</script>
{% endif %}


{% endblock %}