{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<hr>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
       body{
          margin:0;
          padding:0;
background:url("https://cdn.pixabay.com/photo/2017/08/28/19/15/background-2691002_1280.jpg");
          background-size: cover;
          font-family: sans-serif;
          background-color:hsl(183, 3%, 69%);
           }
<!--      .log{  width:1366px;-->
<!--          height:696px;-->
<!--          }-->
      .loginbox{  width: 550px;
          height: 1550px;
          background: #000;
          color:hsl(94, 15%, 75%);
<!--           #fff;-->
          top:20%;
          left:36%;
          position:absolute;
          transform: translate{-50%,-50%}
          box-sizing: border-box;
          padding: 70px 30px;
          opacity:.7;
               }

      .loginbox p{
        margin:0;
          padding: 50px;
          font-weight:bold;
                 }
      .loginbox input{width: 100%;
          margin-bottom:20px;
                     }
<!--
       </style>
<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New password and confirm password field does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>
<form class ="container mt-5" method = "post" style="margin-left:750px " name="changepssword" onsubmit="return checkpass()">
    {% csrf_token %}
    <p><h1> Current Password</h1></p>
    <input type="password" class="form-control" name="currentpassword" required="true" >
    <p> <h1>New Password</h1></p>
    <input type="password" class="form-control" name="newpassword" required="true" >
    <p><h1>Confirm New Password</h1></p>
    <input type="password" class="form-control" name="confirmnewpassword" required="true" >
    <br><br><br>
    <input type="submit" value="Update">
   </form>
</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ajax-utils.js"></script>
<script src="js/script.js"></script>
</body>

{% if error == "no" %}
<script>
    alert("Password changed successfully");
    window.location = ('{% url 'Logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong.Try again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is wrong");
</script>
{% endif %}


{% endblock %}