{% load static %}
{% block body %}
{% include 'user_navigation.html' %}

<hr>
<br>
<br>
<br>
<script>
    function checkpass()
    {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
    {
    alert('Password and Repeat Password field does not match.');
    document.signup.cpwd.focus();
    return false;
    }
    return true;
    }
</script>
<head>
    <title>USER HOME</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <style>
       body{
          margin:0;
          padding:0;
background:url("https://cdn.pixabay.com/photo/2017/08/28/19/15/background-2691002_1280.jpg");
          background-size: cover;
          font-family: sans-serif;
          background-color:hsl(183, 3%, 69%);
           }
<!--      .log{  width:1366px;-->
<!--          height:696px;-->
<!--          }-->
      .loginbox{  width: 550px;
          height: 1250px;
          background: #000;
          margin-left:250px;
          color:hsl(94, 15%, 75%);
<!--           #fff;-->
          top:20%;

          left:36%;
          position:absolute;
          transform: translate{-50%,-50%}
          box-sizing: border-box;
          padding: 70px 30px;
          opacity:.7;
               }

      .loginbox p{
        margin:0;
          padding: 50px;
          font-weight:bold;
                 }
      .loginbox input{width: 100%;
          margin-bottom:20px;
                     }
<!--
       </style>
</head>
<body>

<div class="loginbox">

    <h1>USER PROFILE</h1>
    <div class = "container">
        <div class ="row">
            <div class="col-sm-8">
                <div class="col-sm-4 mt-5 text-center">
                    <img src = "{{student.image.url}}" width="300px"  height="300px">
                </div>
                <form class ="mt-5" name="signup" onsubmit="return checkpass();" method="post"  enctype="multipart/form-data" padding="20px">
                    <!--<div class="loginbox">-->
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6 padding:50px">
                            <label>&ensp;First Name&ensp;&ensp;</label>
                            <input type="text" class="form-control" name="fname" value="{{student.user.first_name}}" required>

                            <label>&ensp;&ensp;&ensp;Last Name&ensp;&ensp;</label>
                            <input type="text" class="form-control" name="lname" value="{{student.user.last_name}}" required>

                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>&ensp;Contact&ensp;&ensp;</label>
                            <input type="text" class="form-control" name="contact" value="{{student.mobile}}" required>

                        </div>
                    </div>
                    <hr>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>&ensp;Email ID&ensp;&ensp;</label>
                            <input type="text" class="form-control" name="email" value="{{student.user.username}}" readonly required>

                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>&ensp;Gender&ensp;&ensp;</label>
                            {% if student.gender == "Male" %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type  = "radio" id = "customRadioInline1" name="gender" class=custom-control-input" value="Male" checked>
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type  = "radio" id = "customRadioInline2" name="gender" class=custom-control-input" value="Female">
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type  = "radio" id = "customRadioInline1" name="gender" class=custom-control-input" value="Male">
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type  = "radio" id = "customRadioInline2" name="gender" class=custom-control-input" value="Female" checked>
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>&ensp;Image&ensp;&ensp;</label>
                            <input type="file" class="form-control" name="image" >
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-primary" style="width:250px,padding:40px">

                </form>
            </div>
        </div>
        <!--<div class="col-sm-4 mt-5 text-center">-->
        <!--    <img src = "{{recruiter.image.url}}" width="300px"  height="300px">-->
        <!--</div>-->
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Profile updated successfully");
    window.location = ('{% url 'user_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong.Try again");
</script>
{% endif %}

{% endblock %}